AUTH_API_URL=https://api.inio.de/auth
VITE_AUTH_API_URL=/ext-auth
TBA3_DATA_API_URL=https://api.inio.de/report_data_tba3
VITE_TBA3_DATA_API_URL=/ext-tba3
VITE_TEST_GROUP=270
VITE_TEST_ID=9516
VITE_SURVEY_ID=314
VITE_MATH_TEST_ID_A=9522
VITE_MATH_TEST_ID_B=9524
VITE_PDF_ENABLED=true
FRONTEND_URL=http://localhost:3000
